.loginPanel {
  width: 400px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.loginForm > table {
  margin-left: 5%;
  margin-right: 5%;
}

.loginForm > table > tbody > tr > td {
  width:50%;
}
