<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
    <p-panel header="Sign In">
      <div class="loginForm">
        <table>
          <tbody>
            <tr>
              <td style="width:50%">Login:</td>
              <td style="width:50%"><input type="text" pInputText [(ngModel)]="login"/></td>
            </tr>
            <tr>
              <td style="width:50%">Password:</td>
              <td style="width:50%"><input type="password" pInputText [(ngModel)]="password"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      </p-panel>
    </div>
  <div class="ui-g-4"></div>
</div>
