.dialogForm > table > tbody > tr.label > td {
  color: black;
}

.ui-treenode-connector-line {
  min-width: 1px;
}

.ui-tree-horizontal {
  min-height: 300px;
}

label.ui-dropdown-label {
  padding-left: 10px;
  padding-right: 30px !important;
}
